<div class="project">
	<div class="project-name">
		<h1><%= t(".title") %></h1>
	</div>

	<div class="info-bar clearfix">
		<p class="message">Fields with an asterisk are required</p>
		<%= link_to 'Forgot password?', new_password_path, class: 'button' %>
	</div>

  <%= render partial: '/sessions/form' %>
</div><!-- /.project -->
