<div class="project">
  <div class="name">
    <h1>Forgot Password</h1>
    <span class="highlight"></span>
  </div>

  <div class="info-bar clearfix">
    <p class="message">Fields with an asterisk are required</p>
  </div>

  <%= form_tag password_resets_path, method: :post do %>
    <div class="field">
      <%= label_tag :email, 'Email *' %>
      <%= text_field_tag :email %>
    </div>
    <div class="field submit">
       <%= submit_tag "Reset Password" %>
     </div>
  <% end %>
</div><!-- /.project -->