<!doctype html>
<html>
<head>
	<title><%= @subject %></title>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<body>
	<h1>Congrats, <%= @user.email %></h1>
	<p>You have successfully activated your Due It account, your username is: <%= @user.email %>.</p>
	<p>To login to the site, just follow this link: <%= @url %>.</p>
	<p>Thanks for joining and have a great day!</p>
</body>
</html>