<!doctype html>
<html>
<head>
	<title><%= @subject %></title>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	<h1><%= @subject %></h1>
	<p>Before you can start using Due It, you'll need to confirm your email (<%= @user.email %>) by visiting the following link in your browser:</p>
	<p><%= @url %></p>
</body>
</html>