<!doctype html>
<html>
<head>
	<title><%= @subject %></title>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	<h1><%= @subject %></h1>
	<p>Congrats &ndash; you have successfully activated your account!</p>
	<p>You can log into your Due It account by visiting this link in your browser:</p>
	<p><%= @url %></p>
</body>
</html>