<article class="project">
	<div class="name">
		<h1><%= link_to @project.name, @project %></h1>
	</div>

	<div class="info-bar clearfix">
		<p class="count"><%= pluralize(@project.complete_tasks, 'completed task', 'completed tasks') %></p>
	</div>

	<ul class="task-list">
		<%= render partial: @project.tasks, locals: { project: @project } %>
	</ul><!-- /.task-list -->
</article><!-- /.project -->