<h1>All Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
       <h2><%= link_to task.name, task %></h2>
       <p>Due <strong><%= time_ago_in_words(task.due_date) %></strong> from now</p>
    </li>
  <% end %>
</ul>
