<article>
	<h1 class="page-title">Add Task</h1>

	<div class="project">
		<div class="name">
			<h1><%= link_to @project.name, @project %></h1>
			<span class="highlight"></span>
		</div>

		<div class="info-bar clearfix">
			<p class="message">Fields with an asterisk are required</p>
		</div>

		<%= render 'form' %>
	</div><!-- /.project -->
</article>