<% # TODO refactor views for all due date based views %>
<article>
	<h1>Due this month</h1>
	<%= raw "Looks like there's nothing due this month" if @tasks.empty? %>

	<ul>
		<% @tasks.each do |task| %>
			<li>
				<h2><%= task.name %></h2>
				<p>Due: <strong><%= task.due_date.strftime('%B %-d') %></strong></p>
			</li>
		<% end %>
	</ul>
</article>