<article class="project">
	<div class="name">
		<h1>Add Project</h1>
	</div>

	<div class="info-bar clearfix">
		<p class="message">Fields with an asterisk are required</p>
	</div>

	<%= render 'form' %>
</article><!-- /.project -->