// Font Weights
// -------------------------------------------------------------------------- //
$light: 300;
$regular: 400;
$semi: 600;
$bold: 700;


// Font Stacks
// -------------------------------------------------------------------------- //
$body: "proxima-nova", Helvetica, Arial, sans-serif;


// Color Scheme
// -------------------------------------------------------------------------- //
$primary: #0661d0;
$secondary: #09172a;