body {
	font: $regular 100% $body;
	background-color: #e7e7e7;
	color: #222;
}

.inner {
	margin: 0 auto;
	padding: 0 40px;
}

.app-content {
	margin: 0 auto;
	padding-top: 116px;
	width: 640px;
}

.app-banner {
	position: fixed;
	z-index: 10;
	padding: 16px 0;
	width: 100%;
	@include box_shadow(0, 1px, 5px, rgba(0,0,0,0.25));
	background-color: #fff;
}

.branding {
	float: left;
	margin: 6px 0 0;

	a {
		font-weight: $semi;
		text-decoration: none;
		color: #333;
		@include transition(color, 0.3s);

		&:hover { color: $primary; }
	}
}

.app-navigation {
	float: right;
}

.nav-collection {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.nav-item {
	float: left;
	margin-left: 24px;
}

.nav-title {
	font-weight: $semi;
	font-size: 12px;
	text-transform: uppercase;
	color: $primary;
}

.sub-nav-collection {
	margin-top: 4px;
	padding-left: 0;
	list-style: none;
}

.sub-nav-item {
	float: left;
	margin-left: 0;
	margin-right: 14px;
	font-weight: $semi;
	font-size: 14px;
	text-transform: none;

	a {
		text-decoration: none;
		color: $secondary;
		@include transition(color, 0.3s);

		&:hover { color: $primary; }
	}
}

.app-footer {
	margin-top: 40px;
	padding-bottom: 16px;
	text-align: right;

	p {
		margin-bottom: 0;
		font-size: 14px;
		color: #333;
	}

	a {
		text-decoration: none;
		border-bottom: 1px solid $primary;
		color: $primary;
	}
}

.page-title {
	margin-bottom: 20px;
	padding-left: 40px;
	font: $semi 26px $body;
	text-shadow: 0 1px 1px #fff;
}

.flash,
.page-message {
	padding-left: 40px;
}

form {
	padding: 16px 40px;

	.field {
		margin: 16px 0;

		&.checkbox label {
			display: inline-block;
			padding-left: 2px;
		}

		&.submit { margin-top: 32px; }
	}

	.field-wrap { overflow: hidden; }

	label {
		display: block;
		margin-bottom: 4px;
	}

	.task-name,
	.project-name  {
		input[type="text"] { width: 100%; }
	}

	.estimate {
		float: left;
		margin-right: 40px;

		input[type="text"] { width: 194px; }
	}

	.due-date { float: left; }
	textarea { width: 100%; }
}