// Layout
// -------------------------------------------------------------------------- //
body {
	font: normal 100% $body;
	background-color: #e7e7e7;
	color: #222;
}

.inner {
	margin: 0 auto;
	padding: 0 40px;
}

.wrap {
	margin: 0 auto;
	padding-top: 116px;
	width: 640px;
}

header {
	position: fixed;
	z-index: 10;
	padding: 16px 0;
	width: 100%;
	@include box_shadow(0, 1px, 5px, rgba(0,0,0,0.25));
	background-color: #fff;

	h1 {
		float: left;
		margin-bottom: 0;

		a {
			font-weight: $semi;
			text-decoration: none;
			color: #333;
			@include transition(color, 0.3s);

			&:hover { color: $primary; }
		}
	}
}

nav {
	float: right;

	ul {
		margin-top: 0;
		padding-left: 0;
		list-style: none;

		&.menu li {
			margin-left: 24px;
			font-weight: $semi;
			font-size: 12px;
			text-transform: uppercase;
			color: $primary;
		}

		&.submenu {
			margin-top: 4px;

			li {
				margin-left: 0;
				margin-right: 14px;
				font-weight: $semi;
				font-size: 14px;
				text-transform: none;

				a {
					@include transition(color, 0.3s);
					color: $secondary;

					&:hover { color: $primary; }
				}
			}
		}
	}

	li {
		float: left;
		color: #333;
	}

	a {
		text-decoration: none;
		color: $primary;
	}
}

footer {
	margin-top: 40px;
	padding-bottom: 16px;
	text-align: right;

	p {
		margin-bottom: 0;
		font-size: 14px;
		color: #333;
	}

	a {
		text-decoration: none;
		border-bottom: 1px solid $primary;
		color: $primary;
	}
}

.page-title {
	margin-bottom: 20px;
	padding-left: 40px;
	font: $semi 26px $body;
	text-shadow: 0 1px 1px #fff;
}


// Projects
// -------------------------------------------------------------------------- //
.project {
	margin-top: 60px;
	overflow: hidden;
	@include box_shadow(0, 1px, 5px, rgba(0,0,0,0.25));
	@include border_radius(6px);
	background-color: #fff;

	&:first-of-type { margin-top: 0; }

	.desc { padding: 16px 40px 0; }
}

.name {
	position: relative;
	padding: 20px 40px;
	@include vertical_gradient($primary, darken($primary, 8%));

	.highlight {
		position: absolute;
		z-index: 10;
		top: 1px;
		left: 0;
		width: 100%;
		height: 1px;
		@include horizontal_highlight();
	    opacity: 0.50;
	}

	h1 {
		margin-bottom: 0;
		font-weight: $semi;
		text-shadow: 0 -1px 1px $secondary;
		color: #fff;

		a {
			text-decoration: none;
			color: #fff;
		}
	}
}

.info-bar {
	padding: 10px 40px;
	min-height: 16px;
	font-size: 14px;
	@include inset_box_shadow(0, 1px, 5px, rgba(0,0,0,1.0));
	background-color: $secondary;
	color: #fff;

	.count {
		float: left;
		margin-bottom: 0;
	}

	.button {
		float: right;
		text-decoration: none;
		color: #fff;
	}
}


// Tasks
// -------------------------------------------------------------------------- //
.task-list {
	margin: 0;
	padding: 16px 40px;
	list-style: none;

	li { padding: 16px 0; }

	h2 {
		margin-bottom: 4px;
		font-weight: $semi;
		font-size: 24px;

		a {
			text-decoration: none;
			color: #222;
		}
	}

	.meta {
		padding-top: 8px;
		font-weight: $semi;
		font-size: 11px;
		text-transform: uppercase;
		border-top: 1px solid #e7e7e7;

		p {
			float: left;
			margin-right: 20px;
			margin-bottom: 0;
			color: #777;
		}

		a.task-action {
			float: right;
			text-decoration: none;
			color: #777;
		}
	}
}